<header class="site-sidebar">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {{ site_nav }}
        {% for site_page in site.pages %}
          {% if site_page.dir == '/languages/' %}
            {% assign page_name = site_page.name | split: '.md' | first %}
            <a class="page-link" href="{{ site_page.url | relative_url }}">{{ page_name }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
